body { background-color: rgb(131, 129, 129) !important;}

nav {
    height: 92vh;
}

.main-page {
    height: 92vh;
    overflow-y: scroll;
}
.media-player {
    height: 8vh;
}
#play-button {
    border-radius: 50%;
  }