body { background-color: rgb(131, 129, 129);}

nav {
    max-height: 92vh;
    background-color: black !important;
}

.main-page {
    height: 92vh;
    overflow-y: scroll;
}
.media-player {
    height: 8vh;
}
#play-button {
    border-radius: 50%;
  }