body {
  background-color: #121212 !important;
  color: white !important;
}

.sidebar {
  background-color: black;
  padding-left: 25px;
}

a:hover {
  color: white !important
}

.sidebar-buttons a {
  color: #b3b3b3;
  padding: 10px 20px;
  font-weight: 600;
  font-size: 14px;
  display: flex;
  align-items: center;
  text-decoration: none;
}

@media screen and (max-width: 767px) {
  .sidebar {
    flex-direction: row;
    height: 8vh;
    order: 3;
    border-top: 1px #282828 solid;
    padding-left: 0px;
  }
  .sidebar-buttons a {
    flex-direction: column;
    font-size: 0.8em;
  }
  .main-page-mobile {
    height: 83vh !important;
    overflow-y: scroll;
    order: 1;
    width: 100% !important;
  }

  .media-player {
    order: 2;
  }
}

.main-page {
  height: 91vh;
  overflow-y: scroll;

}

.media-player {
  padding-top: 1em;
  height: 9vh;
  border-top: 1px #282828 solid;
}
.media-player svg {
  color: #b3b3b3;
}
.media-left .media-main .media-right {
  height: 100%;
}
#play-button {
  border-radius: 50%;
  background-color: white;
  height: 32px;
  width: 32px;
}

#play:hover, #pause:hover {
  -webkit-box-shadow: 3px 5px 25px 6px rgba(255,255,255,0.67); 
  box-shadow: 3px 5px 25px 6px rgba(255,255,255,0.67);
}

#search-bar {
  border-radius: 500px;
  height: 40px;
  max-width: 80;
  text-overflow: ellipsis;
  width: 100%;
  padding: 6px 48px;
}

#search-bar-parent {
  position: relative;
  margin-top: 10px;
}
.search-bar-glass {
  position: absolute;
  left: 17px;
  top: 8px;
  color: black;
}

#login-button {
  position: absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 100px;
}

.category-text-overlay {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
}
.category-container {
  position: relative;
  border-radius: 200px;
}
.category-container img {
  border-radius: 10px;
}

.category-banner {
  position: relative;
  height: 300px;
  background: rgb(18,18,18);
  background: linear-gradient(0deg, rgba(18,18,18,0.577468487394958) 0%, rgba(110,237,10,0.5662640056022409) 100%);
}

/* .playlist-item{
  border: green 10px solid !important;
  border-radius: 50% !important;
  font-size: 23px !important;
} */

.playlist-item:hover {
  background-color: #333;
  border-radius: 5px;
}

.library-links {
  text-decoration: none;
  color: white;
  font-weight: 700;
}

.library-links:hover {
  cursor: pointer;
  color: white;
}
.selected {
  background-color: #333;
  border-radius: 5px;
  color: white !important;
  font-weight: 1100;
  font-size: 16px !important
}


/* .wrapper:hover{
  transform: scale(1.1);
} */

.card-container {
  max-width: 14rem;
  width: 14rem;
  background-color: #181818;
}

.card-container:hover {
  background-color: #696969;
}

.playlist-item-name > * {
  font-size: 15px;
}

.fade-bg {
  height: 58vh;
  background: rgb(18,18,18);
  background: linear-gradient(0deg, rgba(18,18,18,0.577468487394958) 24%, rgba(110,237,10,0.5662640056022409) 100%);
}
